/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    height: 90px;
    background-color: rgba(0, 132, 253, 1);
}

/* MAIN */

.section-1 {
    background-color: white;
}

.section-1 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.section-1 .card-large {
    height: 650px;
    background-color: rgba(181, 221, 255, 1);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;

}

.section-1 .card {
    height: 400px;
    background-color: rgba(181, 221, 255, 1);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;

}

/* FOOTER */