/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

/* main {
    font-weight: 700;
} */

img {
    max-width: 100%;
}

/* HEADER */

.header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 132, 253, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px -7px 14px black;
}

.nav-header {
    height: 80px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header i {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

/* DESKTOP */

.header ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header ul li {
    height: 80px;
    list-style-type: none;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.header ul li a {
    color: white;
    text-decoration: none;
}

.start {
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.7rem;
    background-color: white;
    border-color: white;
    color: black;
}

.list-header {
    display: none;
}

.nav-header .start {
    display: none;
}


/* MAIN */

/* SECTION-1 */
.section-1 {
    background-color: white;
    margin-top: 70px;
}

.section-1 .container {
    width: 85%;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-1 .card-large {
    background-color: rgba(181, 221, 255, 1);
    border-radius: 30px;
    padding: 40px 40px 0 40px;
    margin-bottom: 35px;
}

.section-1 .card {
    background-color: rgba(181, 221, 255, 1);
    border-radius: 30px;
    padding: 40px 40px 10px 40px;
    margin-bottom: 35px;
    text-align: center;
}

.text-card-large h2,
.card h2 {
    font-size: 1.6rem;
    color: rgba(18, 141, 253, 1);
}

.text-card-large p,
.card p {
    font-size: 1.2rem;
    color: rgba(101, 123, 142, 1);
    padding: 30px 0;
}

.text-card-large .app-store {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 7px 50px;
    background-color: rgba(18, 141, 253, 1);
    border-color: rgba(18, 141, 253, 1);
    color: white;
    border-radius: 40px;
    letter-spacing: 2px;
    display: inline-block;
}

.card-large img {
    display: block;
    padding-top: 30px;
    max-width: 250px;
}

.card i {
    font-size: 6rem;
    color: rgba(18, 141, 253, 1);
    padding-bottom: 30px;
}

/* SECTION-2 */
.section-2 {
    background-color: rgba(151, 146, 228, 1);
}

.section-2 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.section-2 .card-2 {
    /* height: 650px; */
    /* background-color: white; */
    border-radius: 30px;
    /* padding: 40px; */
    margin-bottom: 35px;
}

.section-2 .card-2-white {
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

.section-2 h2 {
    font-size: 1.6rem;
    color: white;
    padding: 40px 0;
}

.section-2 p {
    font-size: 1rem;
    color: white;
    padding-bottom: 20px;
}

.section-2 .card-2-white h3 {
    font-size: 1.4rem;
    color: black;
    padding-bottom: 20px;
}

.section-2 .card-2-white p {
    font-size: 1rem;
    color: black;
    /* padding-bottom: 20px; */
    padding: 0 15px 20px 25px;
}

.section-2 .arrow-down {
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 16px;
    background-color: rgba(151, 146, 228, 1);
    border-color: rgba(151, 146, 228, 1);
    color: black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

/* SECTION-3 */
.section-3 {
    background-color: white;
    text-align: center;
}

.section-3 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.section-3 .card-3-white {
    background-color: white;
    border-radius: 40px;
    margin-bottom: 35px;
}

.section-3 .card-3 {
    background-color: rgba(151, 146, 228, 1);
    border-radius: 40px;
    padding: 30px 20px;
    margin-bottom: 35px;
}

.section-3 .card-3-white p {
    font-size: 1.2rem;
    color: black;
}

.section-3 .card-3-white h2 {
    font-size: 2rem;
    color: rgba(151, 146, 228, 1);
    padding: 30px 0;
}

.section-3 .card-3 img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.section-3 .card-3 p {
    font-size: 1.1rem;
    color: white;
    padding: 30px 0;
}

.section-3 .card-3 h3 {
    font-size: 1.3rem;
    color: white;
}







/* SECTION-4 */
.section-4 {
    background-color: rgba(151, 146, 228, 1);
}

.section-4 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.section-4 .card-4 {
    height: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;
}

/* SECTION-5 */
.section-5 {
    background-color: white;
}

.section-5 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.section-5 .card-5 {
    height: 400px;
    background-color: rgba(151, 146, 228, 1);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;
}

.section-5 .card-5-img {
    height: 400px;
    background-color: rgba(151, 146, 228, 1);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;
}

/* SECTION-6 */
.section-6 {
    background-color: rgba(151, 146, 228, 1);
}

.section-6 .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.section-6 .card-6 {
    height: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;
}

/* FOOTER */
footer {
    background-color: rgba(51, 51, 51, 1);
}

footer .container-footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

footer .card-footer {
    height: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 35px;
}